
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5; 
    color: #343a40; 
    line-height: 1.6;
}

.container {
        max-width: 1100px;
}

.navbar {
    background-color: #004d99 !important;
   
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    color: #ffffff !important;
    margin-right: 100px;
}

.nav-link.text-warning {
    font-weight: 400;
}
.nav-item .nav-link {
    color: white !important;
    font-weight: 500;
    margin-right: 15px;
    transition: color 0.4s ease;
}
.nav-item .nav-link:hover {
    color: dodgerblue !important;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #4cd964;
    background-color: #4cd964;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-outline-success:hover {
    background-color: #3aa24f;
    border-color: #3aa24f;
}

header {
    background-color: #ffffff;
    padding: 3rem !important;
    border-radius: 15px;
    border: 1px solid #007bff;  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05); 
}

h1.display-4 {
    color: #007bff !important;
    font-weight: 800;
    letter-spacing: -0.5px; 
}

p.lead {
    color: #555;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1rem;
}

.card {
    border: none;
    border-radius: 10px; 
    border: 1px solid #007bff; 
    transition: all 0.3s ease;
    height: 100%; 
}

.card h3 {
    color: #004d99; 
    font-weight: 700;
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.card:hover {
    transform: translateY(-8px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);     
}

.btn-primary {
    background-color: #007bff;
    border: 2px solid #007bff;
    font-weight: 600;
    padding: 10px 20px;
}

.btn-outline-primary {
    color: #007bff;
    border: 2px solid #007bff;
    font-weight: 600;
    padding: 10px 20px;
}


.custom-complaint-card {
    border: 1px solid #007bff; 
    background-color: #ffffff;
    border-radius: 15px;
}

.custom-complaint-card h3 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.submit-complaint-btn {
    background-color: #007bff; 
    border-color: #007bff;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.submit-complaint-btn:hover {
    background-color: #004d99; 
    border-color: #004d99;
}

.custom-complaint-card .form-label {
    color: #004d99; 
}

.custom-complaint-card .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.card.border-warning {
    border: 3px solid #ffc107 !important; 
}

.text-warning {
    color: #ffc107 !important;
}
