:root {
    --primary-gradient: linear-gradient(135deg, #364daf 0%, #553f6b 100%);
    --rversed-primary-gradient: linear-gradient(135deg, #553f6b 0%, #364daf 100%);
    --primary-color: #0056b3;
    --bg-color: #f4f7f6;
    --text-color: #333;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background: var(--primary-gradient);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 350px;
}
.card:hover {
    box-shadow: 100px rgba(38, 3, 59, 0.15);
    transform: translateY(-5px);

}

input {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

.btn {
    background: var(--primary-gradient);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover {
     background: var(--rversed-primary-gradient); 
    }